<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="static/css/forms.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/header.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <img src="static/media/ucsffresno.png">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/students">Students</a></li>
                    <li><a href="/forms" class="current">Forms</a></li>
                    <li><a href="/advisor_home">Home</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <ul>
                <li><a href="/new_student_form">New Student Form</a></li>
                <br><br><br>
                <li><a href="/student_status_change">Student Status Change Form</a></li>
            </ul>
        </article>
    </body>
</html>
