{% extends "header.html" %}

{% block css %}
<link href="static/css/home.css" type="text/css" rel="stylesheet"/>
<link href="static/css/header.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if user.authorization == 1 %}
<article>
    <p style="font-size:20pt">Hello, {{ user_info.first_name }} {{ user_info.last_name }}</p>
    <p>UCSF ID: {{ user_info.id }}</p>
    <p>Email: {{ user_info.email }}</p>
    <p>Cell Phone: {{ user_info.cell_phone }}</p>
    <p>Work Phone: {{ user_info.work_phone }}</p>
    <p>Home Phone: {{ user_info.home_phone }}</p>
    <!--<form action="/edit_information">
        <button type="button">Edit Information</button>
    </form>-->
</article>
<br>
<br>
<article>
    <p style="font-size:20pt">Forms</p>
    <ul>
        <li><a href="/student_status_change">Student Status Change Form</a></li>
    </ul>
</article>
{% elif user.authorization == 2 %}
<article>
    <p style="font-size:20pt">Hello, {{ user_info.first_name }} {{ user_info.last_name }}</p>
    <p>UCSF ID: {{ user_info.id }}</p>
    <p>Email: {{ user_info.email }}</p>
    <p>Cell Phone: {{ user_info.cell_phone }}</p>
    <p>Work Phone: {{ user_info.work_phone }}</p>
    <p>Home Phone: {{ user_info.home_phone }}</p>
    <p>School: {{ user_info.school }}</p>
    <!--<form action="/edit_information">
        <button type="button">Edit Information</button>
    </form>-->
</article>
<br>
<article>
    <p style="font-size:20pt">Forms</p>
    <ul>
        <li><a href="/student_status_change">Student Status Change Form</a></li>
    </ul>
</article>
{% elif user.authorization == 3 %}
<article>
    <p style="font-size:20pt">Hello, {{ user_info.first_name }} {{ user_info.last_name }}</p>
    <p>UCSF ID: {{ user_info.id }}</p>
    <p>Email: {{ user_info.email }}</p>
    <p>Cell Phone: {{ user_info.cell_phone }}</p>
    <p>Work Phone: {{ user_info.work_phone }}</p>
    <p>Home Phone: {{ user_info.home_phone }}</p>
    <p>School: {{ user_info.school }}</p>
    <p>Grade: {{ user_info.grade }}</p>
    <p>Expected Graduation: {{ user_info.expected_grad }}</p>
    <!--<form action="/edit_information">
        <button type="button">Edit Information</button>
    </form>-->
</article>
{% elif user.authorization == 4 %}
<article>
    <p style="font-size:20pt">Hello, {{ user_info.first_name }} {{ user_info.last_name }}</p>
    <p>UCSF ID: {{ user_info.id }}</p>
    <p>Email: {{ user_info.email }}</p>
    <p>Cell Phone: {{ user_info.cell_phone }}</p>
    <p>Work Phone: {{ user_info.work_phone }}</p>
    <p>Home Phone: {{ user_info.home_phone }}</p>
    <!--<form action="/edit_information">
        <button type="button">Edit Information</button>
    </form>-->
</article>
{% endif %}
{% endblock %}