<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="/ucsf_da/css/index.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <a href="https://www.fresno.ucsf.edu/latino-center-for-medical-education-and-research/about-da/">
                <img src="/ucsf_da/media/ucsffresno.png">
            </a>
        </header>
        <form>
            <input type="text" id="id" name="id" placeholder="ID"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br><br>
            <input type="submit" id="login" name="login" value="Login">
        </form>
    </body>
</html>
