<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="static/css/index.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/header.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="https://www.fresno.ucsf.edu/latino-center-for-medical-education-and-research/about-da/">
                        <img src="static/media/ucsffresno.png">
                    </a>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </header>
        <form action="/loginnewuser" method="post">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br><br>
            <button type="submit" id="submit">Login</button>
        </form>
    </body>
</html>
