<html>
    <head>
        <title>{{ title }}</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                {% block header %}{% endblock %}
            </nav>
            <div id="box">
            </div>
        </header>
        <div>
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>