<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="static/css/new_student_form.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/header.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <img src="static/media/ucsffresno.png">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/students">Students</a></li>
                    <li><a href="/forms" class="current">Forms</a></li>
                    <li><a href="/advisor_home">Home</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <p style="font-size:24pt">New Student Form</p>
            <form>
                <label for="student_id">Student ID Number</label><br>
                <input type="text" id="student_id" name="student_id" placeholder="Student ID Number" required><br><br>
                <label for="first_name">First Name</label><br>
                <input type="text" id="first_name" name="first_name" placeholder="First Name" required><br><br>
                <label for="middle_name">Middle Name</label><br>
                <input type="text" id="middle_name" name="middle_name" placeholder="Middle Name"><br><br>
                <label for="last_name">Last Name</label><br>
                <input type="text" id="last_name" name="last_name" placeholder="Last Name" required><br><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" placeholder="Email"><br><br>
                <label for="cell_phone">Cell Phone Number</label><br>
                <input type="text" id="cell_phone" name="cell_phone" placeholder="Cell Phone Number"><br><br>
                <label for="work_phone">Work Phone Number</label><br>
                <input type="text" id="work_phone" name="work_phone" placeholder="Work Phone Number"><br><br>
                <label for="home_phone">Home Phone Number</label><br>
                <input type="text" id="home_phone" name="home_phone" placeholder="Home Phone Number"><br><br>
                <label for="school">School</label><br>
                <select id="school" name="school" required>
                    <option value="School 1">School 1</option>
                    <option value="School 2">School 2</option>
                    <option value="School 3">School 3</option>
                </select><br><br>
                <label for="grade">Grade</label><br>
                <select id="grade" name="grade" required>
                    <option value="Freshman">Freshman</option>
                    <option value="Sophomore">Sophomore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                </select><br><br>
                <label for="expected_grad">Expected Graduation Year</label><br>
                <input type="text" id="expected_grad" name="expected_grad" placeholder="Expected Graduation Year" required><br><br>
                <label for="program_status">Program Status</label><br>
                <select id="program_status" name="program_status" required>
                    <option value="enrolled">Enrolled</option>
                    <option value="graduated">Graduated</option>
                    <option value="expelled">Expelled</option>
                </select><br><br>
                <label for="fmp_id">Filemaker Pro ID</label><br>
                <input type="text" id="fmp_id" name="fmp_id" placeholder="Filemaker Pro ID"><br><br>
                <label for="advisor_id">Advisor ID</label><br>
                <input type="text" id="advisor_id" name="advisor_id" placeholder="Advisor ID" required><br><br>
                <label for="parent_first_name_1">Parent First Name 1</label><br>
                <input type="text" id="parent_first_name_1" name="parent_first_name_1" placeholder="Parent First Name 1" required><br><br>
                <label for="parent_middle_name_1">Parent Middle Name 1</label><br>
                <input type="text" id="parent_middle_name_1" name="parent_middle_name_1" placeholder="Parent Middle Name 1"><br><br>
                <label for="parent_last_name_1">Parent Last Name 1</label><br>
                <input type="text" id="parent_last_name_1" name="parent_last_name_1" placeholder="Parent Last Name 1" required><br><br>
                <label for="parent_email_1">Parent Email 1</label><br>
                <input type="text" id="parent_email_1" name="parent_email_1" placeholder="Parent Email 1"><br><br>
                <label for="parent_cell_phone_1">Parent Cell Phone Number 1</label><br>
                <input type="text" id="parent_cell_phone_1" name="parent_cell_phone_1" placeholder="Parent Cell Phone Number 1"><br><br>
                <label for="parent_work_phone_1">Parent Work Phone Number 1</label><br>
                <input type="text" id="parent_work_phone_1" name="parent_work_phone_1" placeholder="Parent Work Phone Number 1"><br><br>
                <label for="parent_home_phone_1">Parent Home Phone Number 1</label><br>
                <input type="text" id="parent_home_phone_1" name="parent_home_phone_1" placeholder="Parent Home Phone Number 1"><br><br>
                <label for="parent_first_name_2">Parent First Name 2</label><br>
                <input type="text" id="parent_first_name_2" name="parent_first_name_2" placeholder="Parent First Name 2" required><br><br>
                <label for="parent_middle_name_2">Parent Middle Name 2</label><br>
                <input type="text" id="parent_middle_name_2" name="parent_middle_name_2" placeholder="Parent Middle Name 2"><br><br>
                <label for="parent_last_name_2">Parent Last Name 2</label><br>
                <input type="text" id="parent_last_name_2" name="parent_last_name_2" placeholder="Parent Last Name 2" required><br><br>
                <label for="parent_email_2">Parent Email 2</label><br>
                <input type="text" id="parent_email_2" name="parent_email_2" placeholder="Parent Email 2"><br><br>
                <label for="parent_cell_phone_2">Parent Cell Phone Number 2</label><br>
                <input type="text" id="parent_cell_phone_2" name="parent_cell_phone_2" placeholder="Parent Cell Phone Number 2"><br><br>
                <label for="parent_work_phone_2">Parent Work Phone Number 2</label><br>
                <input type="text" id="parent_work_phone_2" name="parent_work_phone_2" placeholder="Parent Work Phone Number 2"><br><br>
                <label for="parent_home_phone_2">Parent Home Phone Number 2</label><br>
                <input type="text" id="parent_home_phone_2" name="parent_home_phone_2" placeholder="Parent Home Phone Number 2"><br><br>
                <button type="submit" id="submit">Submit</button>
            </form>
        </article>
    </body>
</html>
