{% extends "header.html" %}

{% block css %}
<link href="static/css/index.css" type="text/css" rel="stylesheet"/>
<link href="static/css/header.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form action="/register" method="POST">
    {{ form.csrf_token }}
    {{ form.email(placeholder="Email") }}<br>
    {{ form.ucsf_da_id(placeholder="UCSF DA ID") }}<br>
    {{ form.username(placeholder="Username") }}<br>
    {{ form.password(placeholder="Password") }}<br>
    {{ form.confirm_password(placeholder="Confirm Password") }}<br><br>
    {{ form.submit() }}
</form>
{% endblock %}