{% extends "header.html" %}

{% block css %}
<link href="static/css/student_report.css" type="text/css" rel="stylesheet"/>
<link href="static/css/header.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="student_info">
    <p>Student Name: {{ student.first_name }} {{student.middle_name }} {{ student.last_name }}<br><br>
    Student ID: {{ student.id }}<br><br>
    Expected Graduation Year: {{ student.expected_grad }}<br><br>
    FMP ID: {{ student.fmp_id }}<br><br>
    Advisor ID: {{ student.advisor_id }}<br><br>
    Program Status: {{ student.program_status }}</p><br><br><br>
    {% for note in report.notes %}
    <p>{{ note }}</p>
    {% endfor %}
</div>
{% endblock %}