<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="static/css/students.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/header.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <img src="static/media/ucsffresno.png">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/students" class="current">Students</a></li>
                    <li><a href="/forms">Forms</a></li>
                    <li><a href="/home">Home</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <table>
            {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[8]}}</td>
                    <td>{{item[9]}}</td>
                    <td>{{item[10]}}</td>
                    <td>{{item[11]}}</td>
                    <td>{{item[12]}}</td>
                    <td>{{item[13]}}</td>
                    <td>{{item[14]}}, {{item[14]}}</td>
                    <td>{{item[16]}}</td>
                </tr>
            {% endfor %}
            </table>
        </article>
    </body>
</html>
