<html>
    <head>
        <title>UCSF Doctor's Academy - Login</title>
        <link href="static/css/students.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/header.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <img src="static/media/ucsffresno.png">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/students" class="current">Students</a></li>
                    <li><a href="/forms">Forms</a></li>
                    <li><a href="/advisor_home">Home</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
