{% extends "header.html" %}

{% block css %}
<link href="static/css/student_report.css" type="text/css" rel="stylesheet"/>
<link href="static/css/header.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<table class="centerTable">
    <tr>
        <td>Student Name</td>
        <td>{{ student.first_name }} {{student.middle_name }} {{ student.last_name }}</td>
    </tr>
    <tr>
        <td>Expected Graduation Year</td>
        <td>{{ student.expected_grad }}</td>
    </tr>
    <tr>
        <td>FMP ID</td>
        <td>{{ student.fmp_id }}</td>
    </tr>
    <tr>
        <td>Advisor ID</td>
        <td>{{ student.advisor_id }}</td>
    </tr>
    <tr>
        <td>Program Status</td>
        <td>{{ student.program_status }}</td>
    </tr>
</table>
<table class="centerTable" id="ReportTable">
    <tr style="background-color: rgb(50,50,50); color: rgb(255, 255, 255);">
    <!--When a header is clicked, run the sortTable function, with a parameter,
    0 for sorting by names, 1 for sorting by country: -->
        <td onclick="sortTable(0)">Date</td>
        <td onclick="sortTable(1)">Status</td>
        <td onclick="sortTable(2)">Notes</td>
        <td onclick="sortTable(3)">GPA</td>
        <td onclick="sortTable(4)">Student Signature</td>
        <td onclick="sortTable(5)">Parent Signature</td>
    </tr>
    {% for report in reports %}
    <tr>
        <td>{{ report.timestamp }}</td>
        <td>{{ report.program_status }}</td>
        <td>{{ report.additional_notes }}</td>
        <td>{{ report.gpa }}</td>
        {% if report.student_sig == 0 %}
        <td>None</td>
        {% else %}
        <td>{{ report.student_sig }}</td>
        {% endif %}
        {% if report.parent_sig == 0 %}
        <td>None</td>
        {% else %}
        <td>{{ report.parent_sig }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("AdvisorTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}