{% extends "header.html" %}

{% block css %}
<link href="static/css/student_status_change.css" type="text/css" rel="stylesheet"/>
<link href="static/css/header.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if type == 'intervention' %}
<article>
    <form action="{{url_for('student_status_change_submit', type='intervention', id=student.id)}}" method="POST">
        <div class="student_info">
            <p style="font-size:24pt">Program Intervention Plan Form</p>
            <p>Student Name: {{ student.first_name }} {{student.middle_name }} {{ student.last_name }}<br><br>
                Student ID: {{ student.id }}<br><br>
                Expected Graduation Year: {{ student.expected_grad }}<br><br>
                FMP ID: {{ student.fmp_id }}<br><br>
                Advisor ID: {{ student.advisor_id }}<br><br>
                Program Status: {{ student.program_status }}</p><br><br>
        </div>
        {{ form.csrf_token }}
        {{ form.status(style="width:30px") }}
        {{ form.status.label(style="width:100px") }}<br><br>
        {{ form.field1.label }}<br>
        {{ form.field1 }}<br><br>
        {{ form.field2.label }}<br>
        {{ form.field2 }}<br><br>
        {{ form.field3.label }}<br>
        {{ form.field3 }}<br><br>
        {{ form.submit }}
    </form>
</article>
{% elif type == 'probation' %}
<article>
    <form action="{{url_for('student_status_change_submit', type='probation', id=student.id)}}" method="POST">
        <div class="student_info">
            <p style="font-size:24pt">Probation Form</p>
            <p>Student Name: {{ student.first_name }} {{student.middle_name }} {{ student.last_name }}<br><br>
                Student ID: {{ student.id }}<br><br>
                Expected Graduation Year: {{ student.expected_grad }}<br><br>
                FMP ID: {{ student.fmp_id }}<br><br>
                Advisor ID: {{ student.advisor_id }}<br><br>
                Program Status: {{ student.program_status }}</p><br><br>
        </div>
        {{ form.csrf_token }}
        {{ form.status(style="width:30px") }}
        {{ form.status.label(style="width:100px") }}<br><br>
        {{ form.field1.label }}<br>
        {{ form.field1 }}<br><br>
        {{ form.field2.label }}<br>
        {{ form.field2 }}<br><br>
        {{ form.submit }}
    </form>
</article>
{% elif type == 'withdrawal' %}
<article>
    <form action="{{url_for('student_status_change_submit', type='withdrawal', id=student.id)}}" method="POST">
        <div class="student_info">
            <p style="font-size:24pt">Withdrawal Form</p>
            <p>Student Name: {{ student.first_name }} {{student.middle_name }} {{ student.last_name }}<br><br>
                Student ID: {{ student.id }}<br><br>
                Expected Graduation Year: {{ student.expected_grad }}<br><br>
                FMP ID: {{ student.fmp_id }}<br><br>
                Advisor ID: {{ student.advisor_id }}<br><br>
                Program Status: {{ student.program_status }}</p><br><br>
        </div>
        {{ form.csrf_token }}
        {{ form.status(style="width:30px") }}
        {{ form.status.label(style="width:100px") }}<br><br>
        {{ form.type }}<br><br>
        {{ form.field1.label }}<br>
        {{ form.field1 }}<br><br>
        {{ form.checkbox1(style="width:30px") }}
        {{ form.checkbox1.label(style="width:500px;text-align:left") }}<br><br>
        {{ form.checkbox2(style="width:30px") }}
        {{ form.checkbox2.label(style="width:500px;text-align:left") }}<br><br>
        {{ form.checkbox3(style="width:30px") }}
        {{ form.checkbox3.label(style="width:500px;text-align:left") }}<br><br>
        {{ form.submit }}
    </form>
</article>
{% endif %}
{% endblock %}