body {
    font-family: "Arial";
}
article {
    width: 100%;
    position: absolute;
    top: 150px;
    text-align: center;
}
article ul li {
    list-style-type: none;
    font-family: "Arial";
    font-size: 30pt;
    padding: 10px;
    display: block;
}
article ul li a {
    text-decoration: none;
}