{% extends "layout.html" %}
{% block content %}
    <html>
        <head>
            <title>UCSF Doctor's Academy - Login</title>
            <link href="static/css/student_home.css" rel="stylesheet" type="text/css"/>
            <link href="static/css/header.css" rel="stylesheet" type="text/css"/>
        </head>
        <body>
            <header>
                <nav>
                    <ul>
                        <img src="static/media/ucsffresno.png">
                    </ul>
                </nav>
            </header>
        </body>
    </html>
{% endblock content %}